@import "tailwindcss";

@theme static {
  --color-background: #131313;
  --color-on-background: #e4e2e1;
  --color-secondary: #f7941d;
  --color-on-secondary: #ffffff;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

::selection {
  background-color: #f7941d;
  color: #ffffff;
}

:focus-visible {
  outline: 2px solid #f7941d;
  outline-offset: 2px;
}
